*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.login {
    display: grid;
    align-items: center;
}

.login form {
    margin: 1em auto;
    display: inline-block;
    /* padding: 2em; */
    
}
.login form .fields{
    max-width: 20em;
}
.login form ul{
    padding-left: 1em;
}

.login form .fields p{
    display: grid;
}

.login form input {
    min-width: 20em;
    padding: .2em .5em;
}

.errorlist {
    color: red;
}


.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-container  form {
    display: flex;
    gap: .4em;
    align-items: center;
}

.filter-container  form input[type=submit]{
    margin-top: .5em;
}

.filter-container  form p {
    display: flex;
    flex-direction: column;
}

.filter-container  form p select {
    padding: .18em .1em;
}

.filter-container  form p input[type=text] {
    padding: .1em .2em;
}


.container.main{
    padding-top: .5em;
}
.pagination-wrap form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination-wrap ul.list-group li {
    padding: 0
}
.pagination-wrap ul.list-group li button{
    border: none;
    /* background: none; */
    outline: none;
    padding: 0 1em;
    /* border-radius: .2em; */
}


.hide{
    display: none;
}
.page-size{

}


.action-controls {
    position: relative;
}

.modal-attached {
    position: absolute;
    padding: .4em;
    right: 0;
    background: #fdfdfd;
    border: 1px solid #ccc;
    -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
    display: none;
    top: 2.4em;
}
.modal-attached.open{
    display: block;
}
