{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} | Tigo Pesa{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'web/css/styles.css' %}" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light"
        style="background: rgb(240, 253, 253); box-shadow: 2px 2px 2px #eee;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{% static 'web/images/settlementor.png' %}" alt="" width="30" height="24"> SETTL
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Customers/Owners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'staff-users' %}">Staff Users</a>
                    </li>

                </ul>
                <form class="d-flex">
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>


</html>